<div class="text-center">
    <h1 class="text-info pt-4">Поздравляем! Ваш заказ успешно сформирован</h1>
    <p class="pb-3">Мы скоро отправим вам данные о заказе и доставке</p>
    <img src="/images/order.PNG" width="80%" />
</div>
